---
import Layout from "@/layouts/default.astro"
import { Content as Intro } from "@/components/intro.md"
---

<Layout>
	<Fragment slot="head-end">
		<title>Rick and Morty Astroverse</title>
	</Fragment>
	<div
		class="mx-auto max-w-prose text-white/50 [&_a]:text-white [&_h1]:mb-4 [&_h1]:text-3xl [&_h1]:font-semibold [&_h1]:text-white [&_h2]:mb-4 [&_h2]:mt-8 [&_h2]:text-xl [&_h2]:font-medium [&_h2]:text-white [&_p]:mb-4 [&_ul]:mb-4 [&_ul]:list-inside [&_ul]:list-disc"
	>
		<Intro />
	</div>
</Layout>
